<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/vue@3.4.5/dist/vue.global.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="app">
        <div class="container">
            <button id="qqww" v-on:click="deleteClosedCards">Видалити закриті</button>
            <div class="nav" v-on:change='serverSettingsUpdate'>
                <div class="radio">
                    <div>Scraper:</div>
                    <input type="radio" id="scraperOn" value="true" v-model="serverSettings.scraping" />
                    <label for="scraperOn">On</label>
                    <input type="radio" id="scraperOff" value="false" v-model="serverSettings.scraping">
                    <label for="scraperOff">Off</label>
                </div>
                <div class="radio">
                    <div>Sender:</div>
                    <input type="radio" name="sender" id="senderOn" value="On">
                    <label for="senderOn">On</label>
                    <input type="radio" name="sender" id="senderOff" value="Off">
                    <label for="senderOff">Off</label>
                </div>
                <div class="nav_counter">
                    {{ filteredCards.length }}/{{ cards.length }}
                </div>
            </div>
            <div class="filters">

                <div class="filters_show-agreed">
                    <label for="showAddedCards">Всі додані </label>
                    <input id="showAddedCards" type="checkbox" v-model="showAddedCards">
                </div>
                <div class="filters_payment">
                    <label for="PDV">ПДВ </label>
                    <input type="checkbox" id="PDV" v-model="filters.PDV">
                    <label for="BG"> Б/г </label>
                    <input type="checkbox" id="BG" v-model="filters.BG">
                    <label for="komb"> Комб. </label>
                    <input type="checkbox" id="komb" v-model="filters.komb">
                    <br>
                    <label for="minPrice">Мін. ціна </label>
                    <input type="text" id="minPrice" v-model='filters.minPrice'>
                </div>
                <div class="search">

                    <input type="text" v-model='exclusion' placeholder="Виключення">
                    <input type="text" v-model='search' placeholder="Пошук">
                </div>
            </div>
            <div class="main">
                <div class="card" v-for="(card, index) in filteredCards" :key="index"
                    v-bind:class="card.closed ? 'closed' : 'qq' ">
                    <div class="card_first-row">
                        <div class="card-date">
                            <svg width="14px" aria-hidden="true" focusable="false" data-prefix="far"
                                data-icon="calendar-alt" class="svg-inline--fa fa-calendar-alt fa-w-14" role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <path fill="currentColor"
                                    d="M148 288h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12zm108-12v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm96 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm-96 96v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm-96 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm192 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm96-260v352c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V112c0-26.5 21.5-48 48-48h48V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h128V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h48c26.5 0 48 21.5 48 48zm-48 346V160H48v298c0 3.3 2.7 6 6 6h340c3.3 0 6-2.7 6-6z">
                                </path>
                            </svg>
                            {{ card.dateFrom.substring(8, 10) + '.' + card.dateFrom.substring(5, 7) }}
                            {{ card.dateTo ? ' - ' + card.dateTo.substring(8, 10) + '.' + card.dateFrom.substring(5,7) :
                            '' }}
                        </div>
                        <div class="card_waypoint">
                            {{ parseWaypoint(card.waypointListSource) }}
                            ---
                            {{ parseWaypoint(card.waypointListTarget) }}
                        </div>
                        <div class="card_distance">
                            Відстань: {{ card.distance }}
                        </div>
                    </div>
                    <div class="card_main">
                        <div class="card_cargo">
                            <!-- <svg width="14" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="cubes" class="svg-inline--fa fa-cubes fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M488.6 250.2L392 214V105.5c0-15-9.3-28.4-23.4-33.7l-100-37.5c-8.1-3.1-17.1-3.1-25.3 0l-100 37.5c-14.1 5.3-23.4 18.7-23.4 33.7V214l-96.6 36.2C9.3 255.5 0 268.9 0 283.9V394c0 13.6 7.7 26.1 19.9 32.2l100 50c10.1 5.1 22.1 5.1 32.2 0l103.9-52 103.9 52c10.1 5.1 22.1 5.1 32.2 0l100-50c12.2-6.1 19.9-18.6 19.9-32.2V283.9c0-15-9.3-28.4-23.4-33.7zM358 214.8l-85 31.9v-68.2l85-37v73.3zM154 104.1l102-38.2 102 38.2v.6l-102 41.4-102-41.4v-.6zm84 291.1l-85 42.5v-79.1l85-38.8v75.4zm0-112l-102 41.4-102-41.4v-.6l102-38.2 102 38.2v.6zm240 112l-85 42.5v-79.1l85-38.8v75.4zm0-112l-102 41.4-102-41.4v-.6l102-38.2 102 38.2v.6z"></path></svg> -->
                            <div class="card_cargo_info">
                                <div class="card_cargo_info_name">
                                    {{ card.contentName }}
                                </div>
                                {{ card.note }}
                                <div class="card_mass">
                                    {{ card.sizeMassTo ? 'вага: ' + (card.sizeMassFrom ? card.sizeMassFrom + 'т' + ' - '
                                    : '') + card.sizeMassTo + 'т' : '' }}
                                </div>
                                <div class="card_cargo_info_size">
                                    <div>
                                        {{ (card.sizeLength || card.sizeWidth || card.sizeHeight) ? 'розміри:' : '' }}
                                    </div>
                                    {{ card.sizeLength ? 'дов: ' + card.sizeLength + 'м' : ''}}
                                    {{ card.sizeWidth ? 'шир: ' + card.sizeWidth + 'м' : ''}}
                                    {{ card.sizeHeight ? 'вис: ' + card.sizeHeight + 'м' : ''}}
                                </div>
                                <div class="card_cargo_info_volume">
                                    {{ card.sizeVolumeTo ? "об'єм: " + (card.sizeVolumeFrom ? card.sizeVolumeFrom + 'м³'
                                    + ' - ' : '') + card.sizeVolumeTo + 'м³' : ''}}
                                </div>
                            </div>

                        </div>

                        <div class="card_truck">
                            <!-- <svg width="20" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="truck" class="svg-inline--fa fa-truck fa-w-20" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path fill="currentColor" d="M624 352h-16V243.9c0-12.7-5.1-24.9-14.1-33.9L494 110.1c-9-9-21.2-14.1-33.9-14.1H416V48c0-26.5-21.5-48-48-48H48C21.5 0 0 21.5 0 48v320c0 26.5 21.5 48 48 48h16c0 53 43 96 96 96s96-43 96-96h128c0 53 43 96 96 96s96-43 96-96h48c8.8 0 16-7.2 16-16v-32c0-8.8-7.2-16-16-16zM160 464c-26.5 0-48-21.5-48-48s21.5-48 48-48 48 21.5 48 48-21.5 48-48 48zm320 0c-26.5 0-48-21.5-48-48s21.5-48 48-48 48 21.5 48 48-21.5 48-48 48zm80-208H416V144h44.1l99.9 99.9V256z"></path></svg> -->
                            <div class="card_truck_info">
                                {{ card.bodyTypeId }}
                                <br>
                                {{ card.loadTypes }}
                            </div>
                        </div>

                    </div>
                    <div class="card_footer">
                        <div class="card_footer_bottons">
                            <button :class="card.agreedPub ? 'green' : 'red' "
                                v-on:click="updateCard(index)">Добавити</button>
                            <a v-bind:href="card.url" target="_blank">
                                <button>Відкрити</button>
                            </a>
                        </div>
                        <div class="card_footer_money">
                            {{ card.payment }}
                            <div class="card_footer_money_price">
                                {{ card.paymentPrice }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>



    <script src="frontend.js"></script>
</body>

</html>