* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
body {
  background-color: rgb(243, 243, 243);
}
.container {
  width: 1000px;
  margin: 0 auto;
}

.nav {
  padding: 5px;
  background-color: rgb(219, 219, 219);
  margin-top: 0px;
  border-radius: 5px;
  display: flex;
}
.filters {
  padding: 5px;
  border-radius: 5px;
  font-size: 30px;
  text-align: center;
  margin-top: 10px;
  background-color: rgb(219, 219, 219);
}
.filters input {
  width: 500px;
}
.main {
  width: 100%;
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.card {
  background-color: white;
  width: 100%;
  padding: 10px;
  margin: 7px 0;
  border: rgb(173, 173, 173) solid 1px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgb(146, 146, 146);
}
.closed {
  background-color: rgb(255, 196, 196);
}
.card:hover {
  background-color: rgb(252, 225, 225);
}
.card_first-row {
  height: 40px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: grey solid 1px;
}
.card-date {
  font-weight: 700;
  width: 130px;
}
.card_waypoint {
  font-weight: 500;
  font-size: 24px;
}
.card_updated {
  width: 130px;
}
.card_main {
  min-height: 100px;
  padding: 15px 10px;
  display: flex;
  justify-content: space-between;
}
.card_truck {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  width: 200px;
}
.card_truck_info {
  margin-left: 5px;
}
.card_cargo_info_name {
  font-weight: 500;
  font-size: 20px;
}
.card_cargo {
  width: 300px;
}
.card_footer {
  height: 40px;
  width: 974px;
  padding: 0 10px;
  border-top: solid grey 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card_footer_bottons {
  display: flex;
  align-items: center;
}
.card_footer_bottons button {
  margin-right: 5px;
  padding: 3px;
}
.card_footer_money {
  display: flex;
}
.card_footer_money_price {
  min-width: 100px;
  text-align: end;
  font-size: 20px;
  font-weight: 500;
}

.radio {
  height: 40px;
  width: 120px;
  margin: 3px;
  padding: 3px;
  border-radius: 3px;
  font-size: 14px;
  border: rgb(194, 194, 194) 2px solid;
  /*   background-color: rgb(151, 225, 243); */
}
.radio input {
  margin: 0 5px;
}
/* .red {
  background-color: rgb(255, 194, 194);
} */

.red {
  position: relative;
  display: inline-block;
  font-size: 90%;
  font-weight: 700;
  color: rgb(209, 209, 217);
  text-decoration: none;
  text-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  padding: 0.5em 1em;
  outline: none;
  border-radius: 3px;
  background: linear-gradient(rgb(110, 112, 120), rgb(81, 81, 86))
    rgb(110, 112, 120);
  box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset, 0 3px 5px rgba(0, 1, 6, 0.5),
    0 0 1px 1px rgba(0, 1, 6, 0.2);
  transition: 0.2s ease-in-out;
}
.red:hover:not(:active) {
  background: linear-gradient(rgb(126, 126, 134), rgb(70, 71, 76))
    rgb(126, 126, 134);
}
.red:active {
  top: 1px;
  background: linear-gradient(rgb(76, 77, 82), rgb(56, 57, 62)) rgb(76, 77, 82);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5) inset,
    0 2px 3px rgba(0, 0, 0, 0.5) inset, 0 1px 1px rgba(255, 255, 255, 0.1);
}
#qqww {
  position: fixed;
  left: 20px;
  bottom: 20px;
}
